body {
	background-color: silver;
}

#wrapper {
	position: absolute;
	display: none;
	width: 100%;
	height: 58%;
	top: 43%;
	margin-left: -8px;
	background-color: palegoldenrod;
}


.icard {
	position: absolute;
	padding: 10px;
	height: 200px;
	width: 150px;
	border: 1px solid black;
	border-radius: 15px;
	background-color: white;
	display: inline-block;
	top: 0;
	left: 0;
}

.cardTop {
	font-size: 2em;
	height: 40px;
	line-height: 0.7em;
}

.cardMid {
	/*position: relative;*/
	text-align: center;
	/*top: 50%;*/
	font-size: 5em;
	height: 110px;
}

.cardBottom {
	font-size: 2em;
	height: 50px;
	line-height: 0.7em;
	transform: rotate(-180deg);
	-webkit-transform: rotate(-180deg);
	-moz-transform: rotate(-180deg);
	-ms-transform: rotate(-180deg);
	-o-transform: rotate(-180deg);
}

.hearts .suit::after {content: '\2665'; margin-top: 15px;}
.spades .suit::after {content: '\2660'; margin-top: 15px;}
.clubs .suit::after {content: '\2663'; margin-top: 15px;}
.diams .suit::after {content: '\2666'; margin-top: 15px;}
.spades, .clubs {color: black;}
.hearts, .diams {color: red;}

.hand {
	position: relative;
}

/*.score {
	font-size: 1.5em;
}*/

#board {
	position: relative;
	display: flex;
}

.players {
	position: relative;
	/*display: flex;*/
	/*float: left;*/
	width: 50%;
	min-height: 300px;
	border: 1px solid black;
	background-color: silver;
}

#comp {
	position: relative;
}

#message {
	font-size: 20px;
	color: white;
	background-color: black;
	padding: 5px;
	text-align: center;
	font-family: 'Joti One', cursive;
}

.btn {
	position: relative;
	top: 8px;
	border-radius: 5px;
	padding: 15px;
	color: white;
	font-size: 18px;
	display: inline-block;
	text-align: center;
	text-shadow: 1px 1px #000;
}

#battleButton {
	background-color: red;
}

#battleButton10 {
	background-color: blue;
}

#battleButton50 {
	background-color: green;
}

#home-nav{
	position: absolute;
	width: 100%;
	height: 45%;
	background-color: #283747;
	top: -10px;
	margin-left: -8px;
	margin-right: -20px;
}

#war-header{
	position: relative;
	display: flex;
	justify-content: center;
	color: #D5DBDB;
	/*text-align: center;*/
	top: -50px;
	font-size: 150px;
	font-family: 'Joti One', cursive;
}


#instructions-div {
	position: absolute;
	display: flex;
	flex-direction: column;
	top: 330px;
	left: 37%;
	justify-content: center;
	align-items: center;
}

.section {
	display: flex;
	flex-direction: column;
	padding: 5px;
	justify-content: center;
	left: 35%;
	width: 340px;
	text-align: center;
	border: 1px solid black;
	border-radius: 20px;
	background-color: gold;
}

#play-button {
	width: 75px;
	height: 40px;
	background-color: dimgray;
	color: white;
	font-size: 20px;
	border: 2px solid black;
	margin-bottom: 5px;
}

#text {
	position: relative;
  	display: none;
  	top: -40px;
  	font-family: 'Joti One', cursive;
  	text-transform: uppercase;
  	font-size: 17px;
}

#a {
	font-size: 25px;
	top: -10px;
	color: midnightblue;
	text-decoration: none;
}

#a:hover {
	color: red;
}

#compScore, #playerScore {
	position: relative;
	text-align: center;
	font-family: impact;
	font-size: 1.5em;
}

#action {
	position: relative;
	display: flex;
	width: 100%;
	justify-content: center;
}

#reload {
	background-color: gold;
	color: midnightblue;
}
